@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: #86d6b8;
  --color-secondary: #009639;
  --color-accent: #0f0f0f;

  /* Base */
  --color-base-100: #ffffff;
  --color-base-200: #f7f5ee;
  --color-base-300: #e7e5da;

  /* Neutral */
  --color-neutral: #373b40;
  --color-neutral-content: #f2f2f2;

  /* Feedback */
  --color-success: #4db956;
  --color-error: #f52121;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
