@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: #86d6b8;
  --color-secondary: #13a166;
  --color-accent: #0f0f0f;

  /* Base */
  --color-base-100: #ffffff;
  --color-base-200: #f7f5ee;
  --color-base-300: #e7e5da;

  /* Neutral */
  --color-neutral: #373b40;
  --color-neutral-content: #f2f2f2;

  /* Feedback */
  --color-success: #4db956;
  --color-error: #f52121;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

/* body {
  font-family: "Barlow Condensed", sans-serif;
} */

.saira-font {
  font-family: "Saira", sans-serif;
}
.barlow {
  font-family: "Barlow Condensed", sans-serif;
}
